/* CSS Styling for page header */

.page-header {
  height: 400px;
  top: 120px;
  width: 100%;

  background-color: rgb(224, 226, 74);
  text-align: center;
  background-image: url("https://www.transparenttextures.com/patterns/bright-squares.png");
}

.profile-picture {
  padding-top: 30px;
}